<h1>Carrinho de Compras</h1><br/><br/><br/>

<table border="1" width=50% id="carrinhoTable">
    <tr>
      <th>Nome produto</th>
      <th>Preço</th>
      <th>Quantidade</th>
    </tr>
    
    
  </table> 
        </br>
        </br>